# Ignore node_modules in all subdirectories
**/node_modules/

# Ignore Next.js build output in all subdirectories
**/.next/

# Ignore Next.js static export output
**/out/

# Ignore environment variable files in all subdirectories
**/.env*
**/.env.local*
**/.env.*.local*

# Ignore logs
**/*.log

# Ignore IDE/Editor settings
**/.vscode/
**/.idea/

# OS-specific files
**/.DS_Store
**/Thumbs.db

# Ignore other temporary files
**/*.tmp
**/*.swp
